{% extends 'base.html' %}
{% load static %}
{% block title %} Post Detail Page {% endblock %}

{% block body %}
    <!-- {#<button><a href="/post/index">Geri</a></button>#}
    {#<button><a href="{% url 'index' %}">Geri</a></button> -- 2. adim #} -->
    <div class="container">
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">
                    Post ID-NO: {{ post.id }}
                </button>
                <button class="btn btn-primary" type="button">
                    <a href="{{post.get_index}}" style="text-decoration: none; color: white;">Geri</a>
                </button>
            </div>
            <div style="margin-top: 5px;">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <div class="card border-success mb-3">
                            <div class="card-header">
                                POST ID : {{ post.id }}
                            </div>
                            <div class="card-body text-success">
                              <h5 class="card-title">{{ post.title }}</h5>
                              <p class="card-text">{{ post.content }}</p>
                            </div>
                        </div>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Publishing Date Posts : <cite title="Source Title">{{ post.publishing_date }}</cite>
                    </figcaption>
                    <figure class="text-end">
                        <blockquote class="blockquote">
                            <button type="button" class="btn btn-warning">
                                <a href="{{ post.get_update_post }}" style="text-decoration: none;">ID NO : {{ post.id }} OLAN POSTU GUNCELLE</a>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <a href="{{ post.get_delete_post }}" style="text-decoration: none;">ID NO: {{ post.id }} OLAN POSTU SIL!!!</a>
                            </button>
                        </blockquote>
                    </figure>
                </figure>
            </div>
        </div>
    </div><br>
    <div style="position: relative; text-align: center;"><img src="{% static 'postApp/my_post_App.png' %}" height="500px"></div>
{% endblock %}