{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Add Post Page {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-15 col-md-offset-3">
                <form method="POST"  style="margin-top: 10px;" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1>Form</h1>
                    {{ form|crispy }}
                    <br>
                    <input type="submit" value="GONDER" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div><br>
    <div style="position: relative; text-align: center;"><img src="{% static 'postApp/lifecycle_Django.jpeg' %}"></div>

{% endblock %}